@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
  --primary: #262626; /* neutral-800 */
  --secondary: #171717; /* neutral-900 */
  --tertiary: #404040; /* neutral-700 */
  --color: #f3f3f3;
  --accent-primary: #2563eb; /* blue-600 */
  --accent-primary-state: #1d4ed8; /* blue-700 */
}

html,
body {
  width: 100%;
  height: 100%;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.pixel-border {
  /* 新增 border-image 样式 */
  border-style: solid;
  border-width: 8px; /* 需要设置边框宽度 */
  border-image-source: url('/ui/border.png'); /* 图片路径 */
  border-image-slice: 8 fill; /* 切割尺寸，假设为 8px，fill 填充中间 */
  border-image-width: 8px; /* 边框图片的宽度 */
  border-image-outset: 0; /* 边框向外扩展的距离 */
  border-image-repeat: stretch; /* 拉伸边缘以填充 */

  /* 保留其他属性 */
  image-rendering: pixelated;
  box-sizing: border-box;
} 

.pixel-border2 {
  /* 新增 border-image 样式 */
  border-style: solid;
  border-width: 8px; /* 需要设置边框宽度 */
  border-image-source: url('/ui/border2.png'); /* 图片路径 */
  border-image-slice: 8 fill; /* 切割尺寸，假设为 8px，fill 填充中间 */
  border-image-width: 8px; /* 边框图片的宽度 */
  border-image-outset: 0; /* 边框向外扩展的距离 */
  border-image-repeat: stretch; /* 拉伸边缘以填充 */

  /* 保留其他属性 */
  image-rendering: pixelated;
  box-sizing: border-box;
} 
